
/*Styling for card*/

.card {
  border: 1px solid black;
  padding-top:  2em;
  padding-bottom: 2em;
  margin: 1em;
}

/*stying for card when selected*/
.selected {
  border: 5px solid black;
  background-color: tomato;
  padding-top:  2em;
  padding-bottom: 2em;
  margin: 1em;
}
